/.ipynb_checkpoints/
figs/
figs2/
figs2_june2026/
data/
losses/
results/
results_june2026/
results_june2026_copy_13June/
results_june_best/
results_old/
results_saved/
__pycache__/
utils/__pycache__/
*.pyc
embeddings_exploration.ipynb
embeddings_exploration_test.ipynb
